@use '/src/global';

.category {
    background-image: url('/5.jpg');
    background-color: rgb(8 0 85 / 50%);
    background-blend-mode: overlay;
    background-size: 100% ;
    background-position: 0px -50px;
    border-radius: 10vw;
    text-align: center;
    margin: 10vw;
    height: 35vw;
    line-height: 35vw;
    font-size: x-large;
    box-shadow: inset 0px 0px 7px 7px rgba(0, 0, 0, 0.5);;
}

.category span {
    display: inline-block;
    vertical-align: middle;
    line-height: 10vw;
}
