@use '/src/global';

.button {
    width: 18vw;
    height: 18vw;
    display: flex;
    justify-content: center;
    border-radius: 20%;
    background-image: url('/menu_stroke.svg');
    background-size: 100%;
    &.active {
        background-image: url('/menu_stroke_active.svg');
    }
}

.navImg {
    width: 60%;
}

.spanText {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

