@use '/src/global';
$top: 20vh;

.backGroundImage {
    position: fixed;
    width: 100%;
    height: calc($top + 5vw);
    background-image: url('/2.jpg');
    background-size: 100% ;
    background-position: 0px -50px;
}

.mainWrapper {
    background: global.$globalGradient;
    position: fixed;
    top: $top;
    width: calc(100% - 6vw);
    overflow: scroll;
    padding: 3vw;
    max-height: calc(100% - $top - 56px - 3vw);
    border-top-left-radius: 10vw;
    border-top-right-radius: 10vw;
}
