@use '/src/global';

.formRadio {
	margin: 2vw;
}
.formRadio input[type=radio] {
	display: none;
}
.formRadio label {
	display: inline-block;
	position: relative;
	padding-left: 7vw;
	font-size: 5.5vw;
	user-select: none;
}
.formRadio label:before {
	content: "";
	display: inline-block;
	width: 6vw;
	height: 6vw;
	position: absolute;
	left: 0;
	bottom: 0;
	background: url('/radio_inactive.svg') 0 0 no-repeat;
}
 
.formRadio input[type=radio]:checked + label:before {
	background: url('/radio_active.svg') 0 0 no-repeat;
}