@use '/src/global';

.checkWrapper {
    display: flex;
    align-items: center;
    padding: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
    font-size: 4vw;

    input {
        height: 5vw;
        width: 5vw;
        margin-right: 2vw;
        accent-color: #FFAD01;
    }
}