@use '/src/global';
$elemHeigh: 26vw;

.item {
    border-radius: 5vw;
    background: global.$primaryBackground;
    margin: 1vw;
    margin-top: 5vw;
    margin-top: 5vw;
    height: $elemHeigh;
    display: flex;
}

.image {
    height: calc( $elemHeigh - 2vw);
    min-width: calc( $elemHeigh - 2vw );
    margin: 1vw;
    // height: $elemHeigh;
    // min-width: $elemHeigh;
    border-radius: 5vw;
    background-size: 100%;
    background-position: center;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: small;
    width: calc(100% - 10vw);
}

.bottomWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
