@use '/src/global';

.toggleButton {
    width: 60vw;
    height: 9vw;
    background-color: global.$primaryBackground;
    border-radius: 2vw;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.toggleButton .slider {
    width: 28vw;
    height: 7vw;
    margin: 1vw;
    background-color: global.$secondaryBackground;
    border-radius: 2vw;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.toggleButton.active .slider {
    left: 50%;
}

.text {
    font-size: small;
    display: flex;
    z-index: 1;
}
