@use '/src/global';

.toggleButtonWrapper {
    position: fixed;
    top: 13vh;
    left: calc(50% - 30vw);
}

.dialog {
    display: none;
}
.topMenu {
    display: flex;
    overflow: scroll;
    align-items: center;
    padding: 3vw;
    max-width: calc(100% - 6vw);
}

.topMenu div {
    text-align: center;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin: 2vw;
    border-radius: 5vw;
    background-color: global.$primaryBackground;
    box-shadow: global.$outShadow;
    font-family: "Papyrus";
    font-size: medium;
    white-space: nowrap;
}

.scrollWraper {
    overflow: scroll;
    max-height: 100%;
}

.topMenu + .scrollWraper {
    max-height: calc(100% - 20vw);
}

.topMenu .current {
    background-color: global.$activeButtonColor;
}