@use '/src/global';

.item {
    background-image: url('/2.jpg');
    display: block;
    background-color: rgba(13, 0, 135, 0.5);
    background-blend-mode: overlay;
    background-size: 100%;
    background-position: 0px -20px;
    border-radius: 10vw;
    text-align: center;
    margin: 8vw;
    margin-top: 3vw;
    height: 35vw;
    line-height: 35vw;
    font-size: x-large;
    box-shadow: inset 0px 0px 7px 7px rgba(0, 0, 0, 0.5);

    & span {
        display: inline-block;
        vertical-align: middle;
        line-height: 10vw;
    }
}