@use '/src/global';

$top: 20vh;
$topSmall: 10vh;
$footerHeight: 25vw;
$footerPadding: 5vh;
$mainWrapperPadding: 0vw;
$mainWrapperHeight: calc(100% - $top - $footerHeight - $footerPadding - $mainWrapperPadding);
$mainWrapperHeightSmall: calc(100% - $topSmall - $footerHeight - $footerPadding - $mainWrapperPadding);

.backGroundImage {
    position: fixed;
    width: 100%;
    height: calc($top + 10vw);
    background-image: url('/2.jpg');
    background-size: 100% ;
    background-position: 0px -50px;
}

.mainWrapper {
    background: global.$globalGradient;
    position: fixed;
    top: $top;
    width: calc(100% - $mainWrapperPadding * 2);
    padding: $mainWrapperPadding;
    min-height: 25vh;
    height: $mainWrapperHeight;
    max-height: $mainWrapperHeight;
    border-top-left-radius: 10vw;
    border-top-right-radius: 10vw;
    transition: 0.2s;
    &.small {
        top: $topSmall;
        max-height: $mainWrapperHeightSmall;
        height: $mainWrapperHeightSmall;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footerHeight;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: global.$primaryBackground;
    padding-bottom: $footerPadding;
}