@use 'global';

html {
    min-height: 100%;
    width: 100%;
    background: global.$globalGradient;
    color: white;
    font-size: 12px;
    user-select: none;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

div {
    -webkit-tap-highlight-color: transparent;
}